@page
@model UMLRazor.Pages.Customers.EditCustomerModel
@{

}
@{
    ViewData["Title"] = "Edit Customer";
}
<h1>Edit Customer</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.Customer.Id" class="control-label"></label>
                <input asp-for="@Model.Customer.Id" class="form-control" readonly ="true"/>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Customer.Name" class="control-label"></label>
                <input asp-for="@Model.Customer.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Customer.Address" class="control-label"></label>
                <input asp-for="@Model.Customer.Address" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Customer.Mobile" class="control-label"></label>
                <input asp-for="@Model.Customer.Mobile" class="form-control" readonly="true" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Customer.ClubMember" class="control-label"></label>
                @* <input asp-for="@Model.Customer.ClubMember" class="form-control"></input> *@
                <input asp-for="@Model.Customer.ClubMember" type="checkbox"/>
            </div>
            <div class="formgroup">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div>
        <a asp-page="ShowMenuItem">Back to List</a>
    </div>
</div>


